<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>leet code unit test class template</Title>
            <Shortcut>leetcodetest</Shortcut>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Declarations>
                <Literal>
                    <ID>ProblemNumber</ID>
                    <ToolTip>Problem Number</ToolTip>
                    <Default>0000</Default>
                </Literal>
            </Declarations>
            <Code Language="CSharp">
                <![CDATA[
                    using System;
                    using System.Collections.Generic;
                    using System.Linq;
                    using System.Text;
                    using Utilities;
                    using Xunit;

                    namespace Tests._$ProblemNumber$
                    {
                        public class TestCase
                        {
                            // ?

                            public override string ToString()
                            {
                                return string.Format("?");
                            }

                            public static List<TestCase> ParseTestCaseFromTextFile(string filePath)
                            {
                                string[] fileContent = System.IO.File.ReadAllLines(filePath);

                                List<TestCase> cases = new List<TestCase>();

                                for(int i = 0; i < fileContent.Length; ++i)
                                {
                                    string line = fileContent[i];

                                    switch(i % ?)
                                    {
                                        case 0:
                                            cases.Add(new TestCase());
                                            cases.Last().? = Helper.Parse?(line);
                                            break;
                                        case 1:
                                            cases.Last().? = Helper.Parse?(line);
                                            break;
                                        case 2:
                                            cases.Last().? = Helper.Parse?(line);
                                            break;
                                        default:
                                            break;
                                    }
                                }

                                return cases;
                            }
                        }

                        public class Test
                        {
                            [Fact]
                            public void RunTestCases()
                            {
                                Solutions._$ProblemNumber$.Solution solution = new Solutions._$ProblemNumber$.Solution();

                                List<TestCase> cases = TestCase.ParseTestCaseFromTextFile(@"./$ProblemNumber$.txt");

                                foreach (TestCase c in cases)
                                {
                                    var result = solution.?(?);

                                    Assert.True(
                                        Helper.Equals(result, c.Output),
                                        string.Format("Case{{{0}}}, Result:{{{1}}}", c, result)
                                        );
                                }
                            }
                            
                        }
                    }
                ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>